RewriteEngine On

RewriteBase /yaIPAM

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule    ^$public/    [L]
#RewriteRule    (.*)public/$1    [L]

#RewriteRule ^login/?$ index.php?page=login&mode=login [L]
#RewriteRule ^logout/?$ index.php?page=login&mode=logout [L]
#RewriteRule ^addresses/address/([0-9]+)/([0-9]+)/([0-9a-zA-Z]+)/?$ index.php?page=addresses&mode=address$3&subnetid=$1&addressid=$2
#RewriteRule ^addresses/address/([0-9]+)/([0-9a-zA-Z]+)/?$ index.php?page=addresses&mode=address$2&subnetid=$1
#RewriteRule ^addresses/subnet/([0-9]+)/([0-9a-zA-Z]+)/?$ index.php?page=addresses&mode=subnet$2&id=$1
#RewriteRule ^addresses/subnet/([0-9]+)/?$ index.php?page=addresses&mode=subnet&id=$1
#RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ index.php?page=$1&mode=$2
#RewriteRule ^([0-9a-zA-Z]+)/?$ index.php?page=$1

RewriteRule ^(.*)$ index.php?url=$1 [L]