RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^api/(.*)$ api.php?url=$1 [END]

RewriteCond %{REQUEST_URI} !^/(theme/.*)$
RewriteRule ^(.*)$ index.php?url=$1 [END]
